body{
  display: flex;
  flex-wrap: wrap;
}

header, footer{
  flex-basis: 100%;
}

nav ul{
  display: flex ;
  flex-wrap: nowrap;
}

aside img{
  width: 1em;
}
nav ul li{
  flex-basis: 20%;
  flex-grow: 1;
  display: flex ;
}

main img{
  width: 10%;
  float: left
}
main li{
  display: flow-root;
  margin: 3% 0;
}
header img{
  width: 100% ;
  width: 50%
}
main{
  flex-basis: 50%;
  flex-grow: 1;
  margin: 0 1em 0 0
}

aside{
  flex-basis: 30%;
}
h1{
  text-align: center;
}

