body{
 background-image: url("https://media.gettyimages.com/id/942626422/fr/vid%C3%A9o/r%C3%A9sum%C3%A9-des-flux-de-particules-%C3%A0-larri%C3%A8re-plan.jpg?s=640x640&k=20&c=Yvcu87ZdrBtY6p1J2_j6ILwWJVu-5tNa0J7yPEpTkz4=")
}

header img{
  border-radius: 15px;
}
footer{
  border-top:  solid white 
}
aside section,footer{
 color: white ;
 background: black;
}

a{
  color: #00F7FF;
  background: black;
  text-decoration-line: none;
}

h1 div{
  font-family: fantasy;
  color: white;
  background: black
}

main section{
  background: lightcyan;
  border-radius: 5px;
  padding
}
main img{
  width: 100%
}
main img{
  width: 10%
}
.gumball{
  border-radius: 15px ;
  background: lightblue;
}
.drawin{
  border-radius: 15px ;
  background: orange;
}
.anais{
  border-radius: 15px ;
  background: pink;
}
.nicole{
  border-radius: 15px ;
  background: lightblue;
}
.richard{
  border-radius: 15px ;
  background: pink;
}
